<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Welcome to FullStack Hub, your go-to destination for all things
        full-stack web development. At FullStack Hub, we're passionate about
        crafting a community where tech enthusiasts, developers, and learners
        converge to explore the dynamic landscape of full-stack technologies.
      </p>
      <p>
        Our concise and insightful posts cover the entire spectrum, from
        frontend frameworks to backend databases, providing you with the
        knowledge and tools to navigate the ever-evolving world of web
        development.
      </p>
      <p>
        Join us on this exciting journey as we demystify complexities, share
        best practices, and foster a collaborative environment for everyone to
        thrive in the full-stack universe. Dive into
      </p>
      <p>FullStack Hub – where every line of code tells a story.</p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
